<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <label for="">Estado:</label>
        <span>Conectado</span>
        <span>Desconectado</span>
    </div>
    <div>
        <label for="">Servidor:</label>
        <input id="server" type="text">
    </div>

    <div>
        <label for="">Puerto:</label>
        <input id="port" type="number">
    </div>
    <div>
        <button id="btnSave">GUARDAR</button>
    </div>

    <script src="../../node_modules/socket.io-client/dist/socket.io.min.js"></script>

    <script>

        let server = document.getElementById("server")
        let port = document.getElementById("port")
        let btnSave = document.getElementById("btnSave")

        var config;

        window.onload = async () => {
            await getConfig()
            console.log(config)
            const socket = io(`${config.server.host}:${config.server.port}`, {
                auth: config.local
            })

            socket.on("connect", () => {
                console.log("sss");

            })


            ipcRenderer.on("closing_window", () => {
                socket.disconnect();
            })

        }

        async function getConfig() {

            config = await ipcRenderer.invoke("config", { set: false })
            server.value = config.server.host;
            port.value = config.server.port;

            return config
        }

        function setConfig() {
            ipcRenderer.invoke("config", { set: true, server: { host: server.value, port: port.value } }).then((res) => {
                server.value = res.server.host
                port.value = res.server.port
            });
        }

        btnSave.addEventListener("click", setConfig)


    </script>

</body>

</html>